@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
#algn{
    height: 70vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f0f0;
    margin: 0 5%;
}

#card{
    width: 700px;
    height: 530px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #bbbfc4, 0 6px 20px 0 #E7E9EB;
}

#upper-bg{
    width: 100%;
    height: 35%;
    background-color: #9ebff4;
    display: flex;
    justify-content: center;
    position: relative;
}

.profile-pic{
    width: 150px;
    height:150px;
    background-color: white;
    border: 3px solid #9ebff4;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    top: 40px;
    
}

#lower-bg{
    width: 100%;
    height: 65%;
}

.text{
    text-align: center;
    padding-top: 35px;
}

.text .name{
    font-weight: 600;
    font-size: large;
    padding: 0;
    margin: 5px;
}

.text .title{
    padding: 0;
    margin: 0;
    font-size: 15px;
}

#icons{
    display: flex;
    justify-content: center;
    margin: 15px;
}

#icons img{
    width: 80%;
    height: 90%;
}

.ico{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn{
    display: flex;
    justify-content: center;
    margin: 15px;
}

#btn a{
    margin: 0 20px;
    padding: 10px 15px;
    background-color: #FFE400;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    color: #000;
}

#btn button:hover{
    box-shadow: 0 4px 8px 0 #E7E9EB, 0 6px 20px 0 #E7E9EB;
}

#l-c-s{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px;
}

#l-c-s .num{
    display: flex;
}

#l-c-s .dvr{
    width: 2px;
    height: 25px;
    background-color: gray;
}

#l-c-s img{
    width: 24px;
    height: 24px;
}

.license{
    font-size: 12px;
    text-align: center;
}

.license .ll{
    padding: 0 10px;
    display: inline;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items:start;
  margin: 3%;
  margin-left: 5%;
  gap: 20px;

}

.card-img-top{
  height: 100%;
}

form input{
    margin-top: 9px;
}